html,
body,
div,
input,
ul,
li,
h3 {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#content {
    width: 300px;
    height: 400px;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px #538;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#content h3 {
    text-align: center;
    height: 40px;
    background: lightblue;
    line-height: 40px;
}

#content button {
    position: absolute;
    top: 0;
    left: 0;
}

#content ul {
    max-height: 330px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

#content ul li {
    padding: 10px;
    background: lightsteelblue;
    border-bottom: 2px solid #999;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    position: relative;
}

#content input {
    position: absolute;
    bottom: 0;
}

#content input[type="text"] {
    width: 80%;
    height: 30px;
    border: 1px solid #678;
    border-radius: 3px;
}

#content input[type="button"] {
    width: 20%;
    height: 30px;
    border: none;
    right: 0;
}